<h2 class="title">編輯個人資料 <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username, '使用者帳號' %> <i>（不可與他人重複）</i><br />
    <div class="control">
      <%= f.text_field :username, autofocus: true, class: "input is-medium" %>
      <!-- <input autofocus="autofocus" class="input is-medium" type="text" name="user[username]" id="user_username" /> -->
    </div>
    <p class="help">範例：tsai</p>
  </div>

  <div class="field">
    <%= f.label :intro, '個人簡介' %> <br />
    <div class="control">
      <%= f.text_area :intro, class: "textarea is-medium", rows: 5 %>
      <!-- <textarea>標籤 為 多行輸入框，以rows=""及cols=""控制長寬 -->
      <!-- <textarea class="textarea is-medium" rows="5" name="user[intro]" id="user_intro"> -->
    </div>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <div class="control">
      <%= f.email_field :email, autocomplete: "email", class: "input is-medium" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, '密碼' %> <i>（如果不想改變密碼，就留空）</i><br />
    <div class="control">
      <%= f.password_field :password, autocomplete: "new-password", class: "input is-medium" %>
    </div>
    <% if @minimum_password_length %>
      <br />
      <p class="help">最少需要 <%= @minimum_password_length %>字元</p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, '確認密碼' %><br />
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input is-medium"  %>
    </div>
  </div>

  <!-- <div class="field">
    <%= f.label :current_password, '目前密碼' %> <i>（請輸入目前密碼以確認變更）</i><br />
    <div class="control">
      <%= f.password_field :current_password, autocomplete: "current-password", class: "input is-medium" %>
    </div>
  </div> -->

  <div class="actions">
    <%= f.submit "更新", class: 'button is-primary is-medium' %>
  </div>
<% end %>
<!-- 按下送出後要往哪送？找controller，但devise套件的controller現在沒看到 -->
  <!-- $ rails g 可知道可用rails產生哪些東西-->
  <!-- 
    ...
    Devise:
    devise
    devise:controllers
    devise:install
    devise:views
    ... 
  -->
  <!-- $ rails g devise:controllers -->
  <!-- bash: $: command not found -->
  <!-- 因為要有一個scope（控制器於要生成在哪個資料夾中，有點像namespace命名空間的概念） -->
  <!-- $ rails g devise:controllers users -->
  <!-- 會長devise控制器於users資料夾中（資料夾名稱可隨便取） -->
  <!-- Running via Spring preloader in process 73036
        create  app/controllers/users/confirmations_controller.rb
        create  app/controllers/users/passwords_controller.rb
        create  app/controllers/users/registrations_controller.rb
        create  app/controllers/users/sessions_controller.rb
        create  app/controllers/users/unlocks_controller.rb
        create  app/controllers/users/omniauth_callbacks_controller.rb
  ===============================================================================
    
  Some setup you must do manually if you haven't yet:

    Ensure you have overridden routes for generated controllers in your routes.rb.
    For example:

      Rails.application.routes.draw do
        devise_for :users, controllers: {
          sessions: 'users/sessions' 客制化devise的話，要跟routes說有關什麼功能 要用哪一個controller
        }
      end

  =============================================================================== -->

<!-- <h3>取消我的帳號</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div> -->

<%= link_to "回到上一頁", :back, class: 'button is-medium'%>
<!-- 回到上一頁 -->
