<!-- 使用AJAX非同步JavaScript及xml -->
<!-- 將表單按下送出時，不需要換頁（重新導向），就可以把表單中的內容送往後端，寫進資料庫，並在寫入成功後，於同一頁面直接呈現 剛剛寫入資料庫的資料 -->
<!-- 增加使用者體驗 -->


<section class="comment-editor">
    <% if user_signed_in? %> <!-- 判斷有登入時，才出現本留言輸入區塊 -->
    <!-- divise送的helper -->
    <!-- To verify if a user is signed in, use the following helper: -->
    <!-- user_signed_in? -->
        <!-- 原有form_tag、form_for，Rails新增form_with寫法 -->
        <!-- form_with model: Comment.new, url: story_comments_path(story), remote: true do |form| -->
        <!-- form_with model: 模型名稱.new, url: 表單要送往的路徑(要傳進去的參數（局部渲染檔案不建議使用實體變數，應用區域變數） do |form|) -->
        <!-- 預設為remote: true，所以可以省略不打，表示送表單時使用AJAX方法，在背景送資料 -->
        <!-- 使用AJAX，Web 應用程式可以在背景中傳送和接收資料，以便根據需要僅重新整理頁面的一小部分 -->
        <!-- 不要在view中新增model，產生物件交給controller來做 -->
        <%= form_with model: comment, url: story_comments_path(story), class: 'comment_form', remote: true do |form|%>
            <%= form.text_area :content, rows: 5, class: 'textarea is-small' %> 
            <%= form.button '送出', class: 'button is-primary is-fullwidth' %>
            <!-- form_for 按鈕是submit -->
        <% end %>
        <!-- <form action="" method="post">
            <textarea name="" id="" rows="8" cols="40" class="textarea is-small"></textarea>
            <button type="submit" class="button is-primary is-fullwidth">送出</button>
        </form> -->
    <% else %> <!-- 未登入時，出現登入與註冊按鈕 -->
        <%= link_to '請先登入', new_user_session_path, class: 'button is-success' %>
        <%= link_to '會員註冊', new_user_registration_path, class: 'button is-info' %>
    <% end %>
</section>
