<!-- å–®ä¸€ä½¿ç”¨è€…æ–‡ç« åˆ—è¡¨é é¢ -->
<h1 class="title">æˆ‘çš„æ–‡ç« åˆ—è¡¨</h1>

<% @stories.each do |story| %> 
    <!-- stories_controlleré¤µ@stories = current_user.stories.all.order(created_at: :desc)çµ¦view -->
    <!-- storyæ˜¯@storiesè³‡æ–™å€‘ï¼ˆæ–‡ç« å€‘ï¼‰ä¸­çš„å–®ä¸€è³‡æ–™ï¼ˆå–®ä¸€æ–‡ç« ï¼‰ -->
    <div class="content">
        <!-- bulmaçš„class="content"æœƒè®“å…¶ä¸­å…ƒç´ æœ‰ä¸€äº›margin -->
        <h2 class="title">
            <%= link_to story.title, edit_story_path(story), class: 'has-text-grey-darker' %>
            <!-- é»žæ–‡ç« æ¨™é¡Œ å°±é€²å…¥è©²ç¯‡æ–‡ç« çš„ç·¨è¼¯é é¢ -->
            <!-- <%= content_tag :span, 'å·²ç™¼ä½ˆ', class: 'tag is-primary' if story.status == 'published' %> -->
            <%= content_tag :span, 'å·²ç™¼ä½ˆ', class: 'tag is-primary' if story.published? %>
            <!-- aasmå¯«æ³• ç”¨ç‹€æ…‹æ©Ÿæ–¹æ³•åˆ¤æ–·æ˜¯å¦ç‚º ç™¼ä½ˆç‹€æ…‹ -->
            <!-- <span class="tag is-primary">å·²ç™¼ä½ˆ</span> -->
        </h2>
        <p><%= strip_tags(story.content).truncate(200) %></p>
        <!-- strip_tags å¯ä»¥æŠŠhtmlæ¨™ç±¤æ’•æŽ‰ -->
        <!-- trucncate(ç•™ä¸‹çš„å­—æ•¸)å¯ä»¥æŠŠæ–‡å­—æˆªçŸ­ -->
        <p>
            æœ€å¾Œç·¨è¼¯æ™‚é–“ï¼š<%= time_ago_in_words(story.updated_at) %>
            <!-- æœƒé¡¯ç¤ºä¸–ç•Œæ¨™æº–æ™‚é–“æ ¼å¼ 2024-06-01 12:23:03 UTC -->
            <!-- è¦åŽ»config > application.rbæ”¹æ™‚å€ -->
            <!-- 2024-06-01 20:23:03 +0800 (æ±8å€)-->
            <!-- time_ago_in_words(from_time, options = {})ï¼ˆåˆ°railsæ‰‹å†ŠæŸ¥æ–¹æ³•ï¼‰ -->
            <!-- é¡¯ç¤ºè·ä»Šå¤šä¹…å‰æ›´æ–° -->
            <%= link_to 'ç·¨è¼¯æ–‡ç« ', edit_story_path(story), class: 'button is-small' %>
            <%= link_to 'åˆªé™¤æ–‡ç« ', story_path(story), method: 'delete', class: 'button is-danger is-small', data: {confirm: "ç¢ºå®šåˆªé™¤è©²ç¯‡æ–‡ç« ?"} %>
            <!-- é€£çµä¸­æœ‰data-methodé€™å€‹å±¬æ€§çš„è©±ï¼Œå°±æœƒæ ¹æ“šå±¬æ€§çš„å€¼ï¼ˆdeleteï¼‰åŽ»æ¨¡æ“¬è©²å‹•ä½œï¼Œé€™å€‹æ‰‹æ³•æ˜¯jsåšçš„ -->
            <!-- å…¶å¯¦æ˜¯å¦å¤–å¯«åœ¨æŸå€‹åœ°æ–¹ï¼Œç„¶å¾ŒåŽ»é©—è­‰ï¼Œç•¶è¦åˆ»é€™å€‹æŒ‰éˆ•æ™‚ï¼Œå¦‚æžœæœ‰data-methodå±¬æ€§æ™‚é€™æ¨£ -->
            <!-- stimulusæ­¤jsæ¡†æž¶å°‡æ­¤å¯«æ³•ç™¼æšå…‰å¤§ data-controller data-target data-action -->
        </p>
    </div>
    <hr>
<% end %>

<!-- å¯åŠ å…¥ç„¡æ–‡ç« æ™‚ é¡¯ç¤ºã€Œå°šç„¡æ–‡ç« ï¼Œè¶•å¿«ä¾†å¯«ä¸€ç¯‡å§ã€çš„æµç¨‹æŽ§åˆ¶ -->

<!-- stimulusç¯„ä¾‹ -->
<!-- stimulus å¯é”åˆ°UJS -->
<!--HTML from anywhere-->
<!-- 
<div data-controller="hello">
    <input data-hello-target="name" type="text">
  
    <button data-action="click->hello#greet">
      Greet
    </button>
  
    <span data-hello-target="output">
    </span>
</div> 
data-controller data-target data-action é¡žä¼¼ rails çš„ controllerä¸­æœ‰å¾ˆå¤šaction
-->
<!-- 
// hello_controller.js
import { Controller } from "stimulus" å¾žstimulusé€™å€‹æ¡†æž¶ importä¸€å€‹controller

export default class extends Controller { å¯«ä¸€å€‹classç¹¼æ‰¿ä»–
  static targets = [ "name", "output" ] å¯«äº†outputå¾Œï¼Œä¹‹å¾Œå°±æœƒæœ‰ä¸€å€‹outputTargetæ–¹æ³•ï¼ˆnameä¹Ÿæ˜¯ï¼Œå‡ºç¾nameTargetï¼‰

  greet() {
    this.outputTarget.textContent =
      `Hello, ${this.nameTarget.value}!`
  }
} 
-->
<!-- $ rails webpacker:install:stimulus -->
<!-- âœ¨  Done in 3.68s.
Webpacker now supports Stimulus.js ðŸŽ‰ -->
